global
    log         stdout format raw local0
    maxconn     4000
    stats socket /var/lib/haproxy/stats
    tune.ssl.default-dh-param 2048
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s

frontend front-http
    bind :80
    bind :443 ssl crt /etc/ssl/certs/default.pem
    http-request redirect scheme https unless { ssl_fc }
    default_backend web_servers

backend web_servers
  server backend_1 172.16.238.11:80
  server backend_2 172.16.238.12:80
  server backend_3 172.16.238.13:80
